* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: Arial, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 16px;
}

header {
  background-color: darksalmon;
  border-bottom: 1px solid gray;
  padding: 1.5rem;
  text-align: center;
}

header h1 {
  color: brown;
  margin: 0;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  min-height: 0;
  background-color: lavender;
}

section {
  display: flex;
  padding: 1.5rem;
  background-color: #f9f9f9;
  overflow-y: auto;
}

.section {
  margin: 24px auto;
  max-width: 400px;
}

.smile-content {
  text-align: center;
}

button {
  background-color: blueviolet;
  color: bisque;
  border: none;
  padding: 0.7rem 1.5rem;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  margin: 1rem;
}